header {
  color: var(--primary-color);
}

nav button {
  border-radius: 0;
  width: 100%;
  text-align: left;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav button:hover {
  background-color: var(--secondary-color);
}

button .description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

button:hover .description {
  max-height: 100px; /* You can adjust based on expected content size */
  opacity: 1;
}