header {
  color: var(--text-color);
}

nav > button {
  border-radius: 0;
  width: 100%;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button .description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

button:hover .description {
  max-height: 100px;
  opacity: 1;
}

#content {
  scrollbar-color: var(--secondary-color) transparent;
  scrollbar-width: thin;
  height: 100%;
}

.skills-list li {
  cursor: default;
  user-select: none;
  box-shadow: 5px 5px var(--primary-color);
}

.skills-list li:hover {
  box-shadow: 0px 0px var(--primary-color);
}
