@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-light-color);
  --color-primary-shadow: var(--primary-shadow-color);
  --color-secondary: var(--secondary-color);
  --color-secondary-light: var(--secondary-light-color);
  --color-secondary-shadow: var(--secondary-shadow-color);
  --color-terciary: var(--terciary-color);
  --color-terciary-light: var(--terciary-light-color);
}

.light {
  --primary-color: #9addff;
  --primary-light-color: #4288d8c5;
  --primary-shadow-color: #4288d845;
  --secondary-color: #2e2e3a;
  --secondary-light-color: #e8eef2;
  --secondary-shadow-color: #ffffff44;
  --terciary-color: #fffea8;

  --terciary-light-color: #ffea00;
}

.dark {
  --primary-color: #160d27;
  --primary-light-color: #9f84cad0;
  --primary-shadow-color: #6c66c86b;

  --secondary-color: #ecdd7b;
  --secondary-light-color: #b9b9b9;
  --secondary-shadow-color: #ecdd7b43;
  --terciary-color: #dca8fb;
  --terciary-light-color: #ff89ed;
}

body {
  font-family: "Courier New", "MV Boli", "Comic Sans MS", system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2em;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: var(--terciary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--terciary-light-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

@media (max-width: 48rem) {
  body {
    place-items: start;
  }
}

h1 {
  color: var(--secondary-color);
  font-size: x-large;
}

h2 {
  color: var(--secondary-color);
  font-size: larger;
  margin-bottom: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-light-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary-light-color);
  background-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  color: var(--secondary-color);
}

*::selection {
  background: var(--primary-color);
  color: var(--secondary-color);
  /* color: var(--primary-light-color); */
}

.simple-button {
  padding: 0;
  display: inline;
  width: auto;
  border: none;
}

.simple-button:hover {
  background-color: transparent;
  border: none;
}

.list span {
  color: var(--secondary-color);
}

.list {
  list-style: none;
}

span {
  color: var(--secondary-color);
}
