@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-light-color);
  --color-secondary: var(--secondary-color);
  --color-secondary-light: var(--secondary-light-color);
  --color-terciary: var(--terciary-color);
  --color-terciary-light: var(--terciary-light-color);
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

.light {
  /* --text-color: #213547;
  --bg-color: #ffffff;
  --button-text: green;
  --button-bg: #000000; */

  --primary-color: #9ADDFF;
  --primary-light-color: #4288d8c5;
  --secondary-color: #2E2E3A;
  --secondary-light-color: #e8eef2;
  --terciary-color: #fffea8;
  --terciary-light-color: #ffea00;
}

.dark {
  /* --text-color: #213547;
  --bg-color: #ffffff;
  --button-text: red;
  --button-bg: #f9f9f9; */

  --primary-color: #0f0e1e;
  --primary-light-color: #6c66c8d0;
  /* --primary-light-color: #55509e; */
  /* --primary-light-color: #8175fe; */

  /* --secondary-color: #84dcc6;
  --secondary-light-color: #a5ffd6;
  --terciary-color: #ff686b;
  --terciary-light-color: #ffa69e; */

  --secondary-color: #ECDD7B;
  --secondary-light-color: #b9b9b9;
  --terciary-color: #dca8fb;
  --terciary-light-color: #ff89ed;
}


body {
  font-family: 'Courier New', 'MV Boli', 'Comic Sans MS', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2em;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

a {
  font-weight: 500;
  color: var(--terciary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--terciary-light-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

h1 {
  color: var(--secondary-color);
  font-size: x-large;
}

h2 {
  color: var(--secondary-color);
  font-size: larger;
  margin-bottom: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-light-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary-light-color);
  background-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  color: var(--secondary-color);
}

*::selection {
  background: var(--primary-color);
  color: var(--secondary-color);
  /* color: var(--primary-light-color); */
}

.simple-button {
  padding: 0;
  display: inline;
  width: auto;
  border: none;
}

.simple-button:hover {
  background-color: transparent;
  border: none;
}